* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e6e6fa;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  height: 100vh;
  flex-direction: column;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
}

.weight {
  display: flex;
  justify-content: space-between;
  width: 200px;
  padding-top: 20px;
  margin: auto;
}

#start-button {
  margin-top: 24px;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  width: 100%;
  background: #b14cff;
  color: #fff;
  transition: 0.2s ease;
}

#start-button:hover {
  background: #9a3be8;
}

#start-button:active {
  transform: scale(0.96);
}

#game-scene {
  width: 900px;
  height: 450px;
  background-color: #d8bfd8;
  margin-top: 20px;
  border-radius: 10px;
  display: none;
  pointer-events: none;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
}

#ground {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: #9370db;
  border-radius: 10px;
}

#stand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 170px;
  width: 700px;
  height: 16px;
  background-color: #666;
  border-radius: 8px;
  transform-origin: center;
}
#triangle {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 150px solid #9370db;
}
